.list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
}

.item {
    margin-right: 10px;
    margin-bottom: 10px;
}

.delivery {
    text-align: center;
    color: whitesmoke;
}

.productitem {
    border-radius: 15px;
    border: 3mm ridge #c2c2c2;
    background-color: #1f2020;
}