.list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
}

.item {
    margin-right: 10px;
    margin-bottom: 10px;
}

.delivery {
    text-align: center;
    color: var(--tg-theme-text-color);
}

.productitem {
    border-radius: 15px;
}