.header {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    margin-bottom: 20px;
}

.username {
    font-style: italic;
}

h3 {
    margin-bottom: 10px;
}
