
.product {
    display:flex;
    flex-direction: column;
    border: 1px solid var(--tg-theme-button-color);
    padding: 15px;
    width: 178px;
}

.img {
    display: flex;
    align-items: center;
    background: var(--tg-theme-bg-color);
}

.img img {
    width: 30%;
    margin: 0 0 0 125px;
}

.description {
    font-size: 0.8em;
    text-align: center;
    color:  var(--tg-theme-hint-color);
}

.add-btn {
    width: 100%;
}