
.product {
    display:flex;
    flex-direction: column;
    border: 1px solid var(--tg-theme-button-color);
    padding: 15px;
    width: 178px;
}

.img {
    display: flex;
    align-items: center;
    background: var(--tg-theme-button-color);
}

.img img {
    width: 30%;
    margin: 0 auto 0 365px;
}

.description {
    font-size: 0.8em;
}

.add-btn {
    width: 100%;
}